body {
	background-color: #0e223a;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center
}

fieldset {
    margin: 4em;
    text-align: center;
    border: 1px solid #bc9c5c;
    display: inline;
    padding: .8em;
}

textarea {
    margin: 1em 1em;
}

input[type='button'] {
    font-size: 1em;
    border: 1px solid #bc9c5c;
    display: block;
    margin: 0 auto .5em;
}


.orgchart-node {
	border: 2px solid #bc9c5c;
	background-color: #0e223a;
	color: #ffffff;

}

body .google-visualization-orgchart-node-medium, .orgchart-node {
	font-size: 1.2em;
}

body .google-visualization-orgchart-linebottom  {
	border-bottom: 1px solid #bc9c5c;
}

body .google-visualization-orgchart-lineleft {
    border-left: 1px solid #bc9c5c;
}

body .google-visualization-orgchart-lineright {
    border-right: 1px solid #bc9c5c;
}
